PRIV_KEY_WALLET=your_private_key_here
HELIUS_HTTPS_URI=your_helius_https_uri
HELIUS_WSS_URI=your_helius_wss_uri
HELIUS_HTTPS_URI_TX=your_helius_tx_uri
JUP_HTTPS_QUOTE_URI=your_jupiter_quote_uri
JUP_HTTPS_SWAP_URI=your_jupiter_swap_uri
JUP_HTTPS_PRICE_URI=your_jupiter_price_uri
